* {
  box-sizing: border-box;
}

body {
	background-color: #f6f6f6;
}

header {
  text-align: center;
}

button {
	border: none;
	box-shadow: none;
	background-color: initial;
}

input,
button {
	font-family: 'Roboto', sans-serif;
}

input {
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1.5em;
  font-size: 18px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
	display: inline-block;
	width: initial;
	transform: scale(1.5);
	margin-right: 10px;
}


.App {
	max-width: 980px;
	margin: 0 auto;
}


#open-modal-btn {
	background-color: #2EC4B6;
	padding: 15px;
	text-transform: uppercase;
	color: #fff;
	font-size: 1em;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
}

#open-modal-btn:hover,
.modal-footer button:hover {
	background-color: #51d6c9;
}

.library {
  max-width: 980px;
  margin: 0 auto;
}

.card {
  padding: 15px;
  margin-top: 20px;
}

.modal-wrapper {
	display: flex;
  justify-content: flex-start;
}

.modal {
	position: fixed;
	z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.add-book-form {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 150px;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
}

.modal-header {
	align-self: flex-end;
}

.modal-body {
	padding: 5px 16px;
	width: 450px;
}

.modal-footer button {
	width: 100%;
	background-color: #2EC4B6;
	color: #fff;
	text-transform: uppercase;
  padding: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}

#library {
	margin-top: 3em;
}

#library table {
	margin:  0 auto;
	width: 100%; 
  table-layout: fixed; 
	border-collapse: collapse;
	border-left: 2px solid #e3e3e3;
}

#library thead {
	background-color: #CBF3F0;
}


#library th {
	font-size: 22px;
}

#library th:first-child,
#library th:nth-child(2) {
	width: 30%;
}

#library th:nth-child(3),
#library th:nth-child(5) {
	width: 10%;
}

#library th:nth-child(4) {
	width: 20%;
}

#library th:nth-child(5) {
	background-color: #f6f6f6;
}

#library td {
	border-bottom: 2px solid #e3e3e3;
	font-size: 20px;
}

#library th:nth-child(5),
#library td:nth-child(5) {
	border-bottom: none;
}


#library th:nth-child(4),
#library td:nth-child(4) {
	border-right: 2px solid #e3e3e3;
}

#library th,
#library td {
	padding: 15px 20px;
	text-align: center;
}


.delete-btn {
	font-size: 2.5em;
	color: #EF233C;
	cursor: pointer;
}

.toggle-read {
	background-color: #FFBF69;
	font-size: 20px;
	padding: 10px 10px;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.3s;
}


.read {
	background-color: #20BF55;
}

.close {
	align-self: flex-end;
	font-size: 2.5em;
	margin-right: 12px;
	cursor: pointer;
}

.already-read {
	width: 88%;
	margin: 0 auto;
}


.no-books {
	text-align: center;
}

.no-books p {
	display: inline-block;
	padding: 20px;
	font-size: 22px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	border: 1px dashed #000;
}